h1{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
}

.subtitle{
    font-weight: 700;
}

h5{
    font-weight: 800;
}
.title{
    font-weight: 700;
}
.produce{
    font-weight: 700;
}
.subject{
    font-weight: 700;
}
.idea{
    font-weight: 700;
}
.nav-link{
    font-weight: 700;
}
.plan{
    font-weight: 700;
}
.game{
    font-weight: 700;
}
.card-title{
    font-weight: 700;
}
.card-text{
    font-weight: 700;
}
.tech{
    font-weight: 700;
}
.tool{
    font-weight: 700;
}
.accordion-body{
    font-weight: 700;
}
.accordion-button{
    font-weight: 700;
}
